:root {
  --socblue: #181e50;
  --socgreen: #31986a;
  --soclightblue: #4a90e2;
  --socwhite: #f7f7f7;
}

/* -----------------------------------App--------------------------------------- */

.App {
  text-align: center;
  height: 300vh;
  background-color: #4a90e2;
}

/* --------------------------------header------------------------------------ */

.navbar {
  display: flex;
  height: 15vh;
  width: auto;
  background-color: #181e50;
  align-items: center;
  justify-content: flex-end;
}

.homeLink {
  color: #31986a;
}

.resourcesLink {
  color: #31986a;
}

/* ---------------------------------PanicButton--------------------------------- */
.Panic {
  position: sticky;
  bottom: 25vh;
  /* margin-left: 70%; */
  width: fit-content;
  height: fit-content;
  right: 100%;
}

.panicBox {
  position: fixed;
  z-index: 10;
  right: 0%;
  bottom: 0;
  display: block;
  max-width: max-content;
  height: fit-content;
}
/* -------------------------------------resources------------------------------- */

.resourcesContainer {
  display: grid;
  grid-template-rows: 25vh 1fr 1fr;
  justify-content: space-around;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  background: white;
  border: solid #181e50;
  padding-bottom: 50px;
}

.rectangleHeader {
  display: flex;
  align-self: flex-start;
  color: white;
  font-size: 42px;
  width: 95vw;
  height: 200px;
  background: #181e50;
}

.resourceCard {
  display: grid;
  height: 120px;
  border: solid #181e50;
  grid-template-columns: 1fr 1fr;
  background-color: #4a90e2;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.resourceImage {
  height: 10vh;
  width: 10vw;
  margin: 10px;
  border: solid 10px #181e50;
}

.title {
  align-self: center;
  justify-self: flex-start;
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: flex-start;
  justify-self: flex-start;
  padding-right: 50vw;
}

.imageTag {
  width: 2vw;
  height: 2vh;
}

.modalcontainer {
  position: absolute;
  top: 0;
  height: 400vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(128, 128, 128, 0.5); /* color */
}
.modalcontainer2 {
  position: absolute;
  top: 0;
  height: 400vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(128, 128, 128, 0.7); /* color */
  display: flex;
  justify-content: center;
}
.formContainer {
  margin-top: 20vh;
  width: clamp(40%, 70%, 85%);
  height: 40vh;
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: var(--socgreen);
}
.hidden {
  display: none; /* making it hidden by default */
}
textarea {
  max-width: 20rem;
  max-height: 20rem;
}
.navbar {
  display: flex;
  justify-content: space-around;
}

#settingsMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
#root {
  height: 100vh;
  background-size: cover;
}
#settingsForm {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 20%;
  border-radius: 50px;
  background: #181e50;
  box-shadow: 20px 20px 60px #141a44, -20px -20px 60px #1c235c;
  color: var(--socwhite);
}
#settingsForm > * {
  font-size: 1.3rem;
}
#settingsForm > div > * {
  font-size: 1.3rem;
}

.progressBox {
  display: flex;
  justify-content: center;
}

.entryBox {
  border: 1px solid black;
  width: 70%;
}

.notescontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.tagList {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  color: grey;
}
